* {
	margin: 0;
	padding: 0;
}
/* 头部 */
.header {
	width: 999px;
	height: 100px;
	/* background: #f00; */
	background: white;
	margin: 0 auto;
}
.header .logo {
	width: 250px;
	height: 30px;
	/* background: #0f0; */
	float: left;
	margin-top: 38px;
	margin-left: 20px;
}
.header .search {
	width: 230px;
	height: 30px;
	/* background: #00f; */
	float: right;
	border: 1px solid #E5E5E5;
	margin-top: 38px;
	margin-right: 20px;
}
.header .search input[type=text] {
	width: 190px;
	height: 30px;
	/* input本身自带边框 所以要把边框去掉 */
	border: none;
	float: left;
	background: #f1f1f1;
}
.header .search input[type=submit] {
	width: 40px;
	height: 30px;
	/* input本身自带边框 所以要把边框去掉 */
	border: none;
	float: right;
	background: #f1f1f1 url(../img/search.png) no-repeat center center;
}

/* 导航栏 */
.nav ul {
	width: 999px;
	height: 60px;
	margin: 0 auto;
	padding-left: 25px;
	background: #000;
	box-sizing: border-box;
}
.nav ul li {
	width: 120px;
	height: 60px;
	float: left;
	text-align: center;
	line-height: 60px;
	font-size: 16px;
	list-style: none;
	border-right: 1px solid #4a4a4a ;
	box-sizing: border-box;
}
.nav ul li:last-child {
	border-right: none;
}
.nav ul li a {
	/* 因为a标签的颜色和下划线是不可继承的
	 所以直接设置在a上面*/
	color: white;
	text-decoration: none;
}

/* 轮播图 */
.banner {
	width: 999px;
	height: 464px;
	margin: 0 auto;
}

/* 内容1 */
.content1 {
	/* padding-top: 37px; */
	width: 999px;
	height: 240px;
	/* background: #0f0; */
	margin: 0 auto;
	box-sizing: border-box;
}
.content1 .newsinfo {
	width: 500px;
	height: 240px;
	background: white;
	float: left;
	padding-left: 20px;
	padding-right: 28px;
	box-sizing: border-box;
}
.title1 {
	width: 80px;
	height: 25px;
	font-size: 18px;
	line-height: 25px;
	margin-top: 37px;
	margin-bottom: 23px;
	box-sizing: border-box;
}
.content1 .newsinfo ul {
	
}
.content1 .newsinfo ul li {
	background: url(../img/square.png) left center no-repeat;
	list-style: none;
	font-size: 12px;
	padding-left: 14px;
	box-sizing: border-box;
}
.content1 .newsinfo ul li a {
	color: #585858;
	text-decoration: none;
	width: 287px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.content1 .newsinfo ul li .time {
	color: #9b9b9b;
	float: right;
}

.content1 .introduce {
	width: 239px;
	height: 240px;
	background: #F1F1F1;
	float: left;
	padding-left: 25px;
	padding-right: 20px;
	box-sizing: border-box;
}
.content1 .introduce .title1 {
	padding-bottom: 38px;
}
.content1 .introduce .itr-1{
	width: 131px;
	height: 26px;
	font-size: 14px;
	color: #555;
	line-height: 26px;
}
.content1 .introduce .itr-2{
	font-size: 12px;
	color: #555;
	margin-bottom: 15px;
	height: 24px;
	line-height: 24px;
	box-sizing: border-box;
}
.content1 .introduce .itr-3{
	font-size: 12px;
	color: #939393;
	width: 193px;
	height: 24px;
	line-height: 24px;
}

.content1 .recruitment {
	width: 260px;
	height: 240px;
	/* background: #FBFBFB; */
	background: #FBFBFB url(../img/flower.png) no-repeat right bottom;
	float: right;
	padding-left: 25px;
	box-sizing: border-box;
}
.content1 .recruitment .rec-info {
	font-size: 12px;
	width: 180px;
	height: 40px;
	color: #555;
}
.content1 .recruitment .more {
	width: 66px;
	height: 19px;
	background: url(../img/more.png);
	position: absolute;
	top: 794px;
}
.content1 .recruitment .flower {
	width: 79px;
	height: 105px;
}

/* 内容2 */
.content2 {
	width: 999px;
	height: 256px;
	margin: 0 auto;
	padding-left: 21px;
	padding-right: 19px;
	box-sizing: border-box;
}
.content2 .title1 {
	margin-top: 29px;
	margin-bottom: 17px;
	box-sizing: border-box;
}
.content2 ul li {
	width: 209px;
	height: 191px;
	/* background: red; */
	float: left;
	list-style: none;
	margin-right: 40px;
	box-sizing: border-box;
}
.content2 ul li:last-child {
	margin-right: 0;
}
.content2 ul li .news_img {
	width: 210px;
	/* height: 136px; */
	height: 153px;
	/* background: #0f0; */
	padding-bottom: 3px;
	box-sizing: border-box;
}
.content2 ul li .news_text {
	width: 215px;
	height: 56px;
	line-height: 21px;
	/* background: #00f; */
	font-size: 12px;
	color: #555;
}

/* footer */
.footer {
	width: 999px;
	height: 248px;
	background: #E5E5E5;
	margin: 0 auto;
	padding-left: 21px;
	padding-right: 19px;
	margin-top: 49px;
	box-sizing: border-box;
}
.footer .product_center {
	width: 453px;
	height: 248px;
	float: left;
}
.footer .product_center .title2 {
	width: 453px;
	height: 58px;
	padding-left: 11px;
	padding-top: 30px;
	margin-bottom: 21px;
	font-size: 16px;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
}
.footer .product_center .product_list {
	/* padding-left: 21px; */
	box-sizing: border-box;
}
.footer .list1,.list2,.list3 {
	float: left;
}
.footer ul[class^=list] li {
	max-width: 121px;
	height: 24px;
	line-height: 24px;
	padding-left: 13px;
	/* list-style-image: url(../img/item_icon.png); */
	background: url(../img/item_icon.png) no-repeat left center;
	list-style: none;
	font-size: 12px;
	box-sizing: border-box;
	/* color: #5C5C5C; */
}
.footer ul[class^=list] li a {
	color: #5C5C5C;
	text-decoration: none;
}
.footer .product_center .list1 {
	margin-right: 77px;
	/* margin-left: 21px; */
	box-sizing: border-box;
}
.footer .product_center .list2 {
	margin-right: 71px;
	box-sizing: border-box;
}
.footer .technology {
	width: 153px;
	height: 248px;
	margin-left: 47px;
	float: left;
	box-sizing: border-box;
}
.footer .technology .title3 {
	width: 153px;
	height: 58px;
	padding-top: 30px;
	padding-left: 11px;
	margin-bottom: 21px;
	font-size: 16px;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
}
.footer .network {
	width: 256px;
	height: 248px;
	margin-left: 50px;
	float: left;
	box-sizing: border-box;
}
.footer .network .title4 {
	width: 256px;
	height: 58px;
	padding-top: 30px;
	padding-left: 11px;
	margin-bottom: 21px;
	font-size: 16px;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
}
.footer .network .map {
	width: 195px;
	height: 151px;
	background: url(../img/china.png) no-repeat center center;
	margin: 0 auto;
	margin-top: 12px;
	box-sizing: border-box;
}
.title2,.title3,.title4 {
	color: #5c5c5c;
}

/* 最底部信息 */
.site-info {
	width: 999px;
	height: 81px;
	margin: 0 auto;
	padding-top: 24px;
	color: #858585;
	font-size: 10px;
	/* float: left; */
}
.site-info .bottom_nav {
	width: 255px;
	height: 10px;
	float: left;
}
.site-info .bottom_nav ul {
	width: 255px;
	height: 10px;
}
.site-info .bottom_nav ul li {
	width: 58px;
	height: 10px;
	text-align: center;
	float: left;
	list-style: none;
	border-right: 1px solid #858585;
	/* font-size: 10px; */
	box-sizing: border-box;
}
.site-info .bottom_nav ul li:last-child {
	width: 81px;
	height: 10px;
	padding-left: 8px;
	padding-right: 8px;
	border-right: none;
	box-sizing: border-box;
	/* text-align: left; */
}
.bottom_nav ul li a {
	color: #858585;
	text-decoration: none;
}
.site-info .copyright {
	width: 424px;
	height: 10px;
	margin-left: 119px;
	float: left;
	box-sizing: border-box;
}
.site-info .share {
	width: 161px;
	height: 18px;
	line-height: 18px;
	float: left;
	margin-left: 16px;
	font-size: 12px;
}
.site-info .share_text {
	float: left;
}
.site-info div[class^=share_icon] {
	width: 20px;
	height: 18px;
	float: left;
}
.share_icon1 {
	padding-left: 4px;
	background: url(../img/share2.png) no-repeat center center;
}
.share_icon2 {
	padding-left: 5px;
	background: url(../img/share1.png) no-repeat center center;
}
.share_icon3 {
	padding-left: 2px;
	background: url(../img/share3.png) no-repeat center center;
}
.share_icon4 {
	padding-left: 2px;
	background: url(../img/share4.png) no-repeat center center;
}
.share_icon5 {
	background: url(../img/share5.png) no-repeat center center;
}